<div class="row">
  <ng-container *ngIf="movies && movies.length; else loadingMovies">
    <div class="col-md-3" *ngFor="let movie of movies">
      <ngx-skeleton-demo-movie-item
        [movie]="movie"
      ></ngx-skeleton-demo-movie-item>
    </div>
  </ng-container>
  <ng-template #loadingMovies>
    <div class="col-md-3" *ngFor="let i of [].constructor(4)">
      <ngx-skeleton-demo-movie-item
        [isLoading]="true"
      ></ngx-skeleton-demo-movie-item>
    </div>
  </ng-template>
</div>
